<link rel="stylesheet" type="text/css" href="/static/css/fontawesome/css/all.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/jquery/jquery-ui.structure.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/jquery/jquery-ui.theme.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/jquery/datatables.min.css"/>
<link rel="stylesheet" type="text/css" medai='screen' href="/static/css/base.css"/>

<script type="text/javascript" src="/static/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/jquery/datatables.min.js"></script>
<script type="text/javascript" src="/static/js/jquery/jquery.cookie.js"></script>
